In [1]:
#Importing libraries
import numpy as np
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
def CommonInf(Introduction, ds):
    #Common information
    string = """
    {}
    
    Common information:
    Head:
    {}
    
    Null values:
    {}
    
    Row size:
    {}
        """.format(Introduction, ds.head(5), ds.isnull().sum(), ds.shape[0] )
    return string

In [4]:
def NanValues(ds):
    #Verify how many null rows there are in the ds doesnt matter the column
    NullValues = ds.isnull().sum().sum()
    
    #Validation about null values
    if(NullValues > 0):
        return ds.dropna()
    else:
        return ds

In [5]:
def dateFormat(ds):
    ds['DateSales']= pd.to_datetime(ds['DateSales'])
    #Casting the dateSales column with the standart date format yyyy/mm/dd
    ds['DateSales'] = ds['DateSales'].dt.strftime('%Y/%m/%d')
    return ds

In [6]:
def CategoricalRow(ds):
    #Factorizing the model column in order to have a different number per category
    ds['Model'] = pd.factorize(ds['Model'])[0] 
    return pd.DataFrame(ds)

In [7]:
def YearSale(ds):
    #Cast to datetime the datesales column
    ds['DateSales']= pd.to_datetime(ds['DateSales'])
    #Extracting only the year in a new column called year sale
    ds['Year Sale'] = ds['DateSales'].dt.strftime('%Y')
    return ds

In [8]:
def DoubletoInt(ds):
    #Cast only the year column to int type
    ds['year'] = ds['year'].astype(int)
    return ds

In [9]:
def ExtractAndTransform():
    ds = pd.read_csv('dataset.csv')
    #print(CommonInf('Initial dataset', ds))
    
    #Validation for nan values
    ds = NanValues(ds)
    #print(CommonInf('Dataset after null validation',ds))
    
    #Validation for standart date format yyyy/mm/dd
    ds = dateFormat(ds)
    
    #Year of sale
    ds = YearSale(ds)
    
    #Converting model to numeric values
    ds = CategoricalRow(ds)
    
    #Casting year column from double to int
    ds= DoubletoInt(ds)
    
    print(ds.head(5))
    
    #return de final dataframe
    return ds

In [ ]:
def InsertInPostgresql(ds)

In [11]:
#Main function
if __name__ == "__main__":
    df = ExtractAndTransform()
    
    try:
        InsertInPostgresql(df)
    except Exception as e: 
        print('Error: {}'.format(e))

   id         Car  Model                Vin  year  DateSales       Address  \
1   2  Volkswagen      0  19UUA66285A189929  2010 2013-09-10  PO Box 48548
2   3        Ford      1  1G6YX36D365936025  1995 2006-10-22      Suite 36
3   4        Audi      2  WBAPK53569A461317  2000 2005-02-18  PO Box 75995
5   6   Chevrolet      3  1GKS1HE0XBR157468  1993 2011-07-28  PO Box 27981
6   7  Mitsubishi      4  WAUKH78E67A197316  2000 2017-08-22      Suite 78

  Year Sale
1      2013
2      2006
3      2005
5      2011
6      2017
Error: name 'InsertInPostgresql' is not defined