In [2]:
#Importing libraries
import numpy as np
import pandas as pd

In [26]:
def CommonInf(ds):
    string = """
    Common information:
    Head:
    {0}
    
    Null values:
    {2}
        """.format(ds.head(5), ds.isnull().sum() )
    return string

In [22]:
def ExtractAndLoad():
    ds = pd.read_csv('dataset.csv')
    print(CommonInf(ds))

In [27]:
#Main function
if __name__ == "__main__":
    ExtractAndLoad()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1000 non-null   int64
 1   Car        1000 non-null   object
 2   Model      1000 non-null   object
 3   Vin        1000 non-null   object
 4   year       802 non-null    float64
 5   DateSales  558 non-null    object
 6   Address    447 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 54.8+ KB

    Common information:
    Head:
       id            Car    Model                Vin    year   DateSales  \
0   1     Mitsubishi  Montero  KNDMB5C12F6902247  1994.0         NaN
1   2  Mercedes-Benz  S-Class  WBAEW53452P255038  2000.0  2018-06-03
2   3        Pontiac   Safari  1FAHP2DW3CG268549  1989.0  2015-01-04
3   4           Ford  Galaxie  1N4AA5AP4CC565502  1966.0         NaN
4   5          Dodge  Caravan  3C3CFFJH4DT632323  2011.0  2020-01-31

        Address
0           NaN
1      Room 739
2           NaN
3     Room 1058
4  PO Box 72312


    Dataset Schema/datatypes:
    None


    Null values:
    id             0
Car            0
Model          0
Vin            0
year         198
DateSales    442
Address      553
dtype: int64