In [2]:
#Importing libraries
import numpy as np
import pandas as pd

In [41]:
def CommonInf(Introduction, ds):
    string = """
    {}
    
    Common information:
    Head:
    {}
    
    Null values:
    {}
        """.format(Introduction, ds.head(5), ds.isnull().sum() )
    return string

In [42]:
def NanValues(ds):
    #Verify how many null rows there are in the ds doesnt matter the column
    NullValues = ds.isnull().sum().sum()
    
    #Validation about null values
    if(NullValues > 0):
        return ds.dropna()
    else:
        return ds

In [45]:
def ExtractAndTransform():
    ds = pd.read_csv('dataset.csv')
    print(CommonInf('Initial dataset', ds))
    
    #Validation for nan values
    ds = NanValues(ds)
    print(CommonInf('Dataset after null validation',ds))

In [46]:
#Main function
if __name__ == "__main__":
    ExtractAndTransform()

    Initial dataset

    Common information:
    Head:
       id            Car    Model                Vin    year   DateSales  \
0   1     Mitsubishi  Montero  KNDMB5C12F6902247  1994.0         NaN
1   2  Mercedes-Benz  S-Class  WBAEW53452P255038  2000.0  2018-06-03
2   3        Pontiac   Safari  1FAHP2DW3CG268549  1989.0  2015-01-04
3   4           Ford  Galaxie  1N4AA5AP4CC565502  1966.0         NaN
4   5          Dodge  Caravan  3C3CFFJH4DT632323  2011.0  2020-01-31

        Address
0           NaN
1      Room 739
2           NaN
3     Room 1058
4  PO Box 72312

    Null values:
    id             0
Car            0
Model          0
Vin            0
year         198
DateSales    442
Address      553
dtype: int64


    Dataset after null validation

    Common information:
    Head:
        id            Car         Model                Vin    year   DateSales  \
1    2  Mercedes-Benz       S-Class  WBAEW53452P255038  2000.0  2018-06-03
4    5          Dodge       Caravan  3C3CFFJH4DT632323  2011.0  2020-01-31
8    9          Mazda       Tribute  5N1AN0NU2CN562731  2003.0  2001-07-11
21  22           Ford    Club Wagon  3FAHP0CGXBR012740  1997.0  2013-08-13
24  25         Suzuki  Grand Vitara  1G6DP57V490474996  2012.0  2015-04-28

         Address
1       Room 739
4   PO Box 72312
8       Suite 33
21      Apt 1234
24     4th Floor

    Null values:
    id           0
Car          0
Model        0
Vin          0
year         0
DateSales    0
Address      0
dtype: int64